# Add any directories, files, or patterns you don't want to be tracked by version control.
#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.war
*.ear
*.sar
*.class
*.csv


# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/*
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration
private.properties
private.xml
/AED_FINAL_PROJECT/nbproject/private/